<a href="https://colab.research.google.com/github/saksham-jain177/Data-Analysis/blob/main/Swiggy_Restaurants_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Swiggy Restaurants Data Analysis**

In [12]:
#Reading Dataset
import numpy as np
import pandas as pd

df = pd.read_csv('/content/swiggy.csv')
df.head()

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
0,567335,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery",12117201000112,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages,22121652000190,https://www.swiggy.com/restaurants/theka-coffe...,"theka coffee desi, sahtiya sadan road city",Menu/158203.json
3,187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian",22119652000167,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",Menu/187912.json
4,543530,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json

In [10]:
import pandas as pd

# Read the CSV file into a pandas DataFrame
csv_file_path = '/content/swiggy.csv'
df = pd.read_csv('/content/swiggy.csv')

# Print the list of column labels
print("Column Labels:", df.columns)

Column Labels: Index(['id', 'name', 'city', 'rating', 'rating_count', 'cost', 'cuisine',
       'lic_no', 'link', 'address', 'menu'],
      dtype='object')

1. How many cities (including subregions) where Swiggy is having its restaurants listed?

In [56]:
import pandas as pd

df_1 = pd.read_csv('/content/swiggy.csv')

df_1 = df_1[df_1['name'].notnull()]


cities = []

for city_entry in df_1['city']:
    city_list = city_entry.split(',')
    cities.extend(city_list)

unique_cities = set(cities)

print(f"Number of cities (including subregions) where Swiggy has their restaurants listed: {len(unique_cities)}")

Number of cities (including subregions) where Swiggy has their restaurants listed: 847

2. How many cities  (don't include subregions) where Swiggy is having their restaurants listed?

In [14]:
df_1 = pd.read_csv('/content/swiggy.csv')

# Filtering out the dataset, only considering the record where restaurant name is not null.
df_1 = df_1[df_1['name'].isnull() != True]

l=[]
for city in df_1['city']:
    if city not in l:
        l.append(city)
print(f"Number of cities(including subregions) where swiggy is having their restaurants listed: {len(l)}")

Number of cities(including subregions) where swiggy is having their restaurants listed: 821

3. The Subregion of Delhi with the maximum number of restaurants listed on Swiggy?

In [55]:
import pandas as pd

# Read the CSV file into a pandas DataFrame
csv_file_path = '/content/swiggy.csv'
df = pd.read_csv(csv_file_path)

delhi_df = df[df['city'].str.contains('Delhi', case=False)]

city_counts = delhi_df['city'].value_counts()

max_city = city_counts.idxmax()

print(max_city)

Indirapuram,Delhi

4. Name the top 5 Most Expensive Cities in the Datasets.

In [50]:
import pandas as pd

csv_file_path = '/content/swiggy.csv'
df = pd.read_csv(csv_file_path)


df['cost'] = df['cost'].str.replace('[^\d.]', '', regex=True).astype(float)


city_expenses = df.groupby('city')['cost'].mean()

top_expensive_cities = city_expenses.sort_values(ascending=False)

# Print the top 5 most expensive cities
print("Top 5 Most Expensive Cities :")
print(top_expensive_cities.head(5))

Top 5 Most Expensive Cities :
city
Hinganghat              18962.437500
BBK_Chattarpur,Delhi      800.000000
Khan Market,Delhi         600.915888
Fort Colaba,Mumbai        493.320132
North-goa                 468.964045
Name: cost, dtype: float64

5. List out the top 5 Restaurants with Maximum & minimum ratings throughout the dataset.

In [45]:
import pandas as pd

csv_file_path = 'your_data.csv'
df = pd.read_csv('/content/swiggy.csv')


df_filtered = df[df['rating'].notnull()]


top_rated = df_filtered.sort_values(by='rating', ascending=False)
print("Top 5 Restaurants with Maximum Ratings :")
print(top_rated[['name', 'rating']].head())


bottom_rated = df_filtered.sort_values(by='rating', ascending=True)
print("\nBottom 5 Restaurants with Minimum Ratings :")
print(bottom_rated[['name', 'rating']].head())

Top 5 Restaurants with Maximum Ratings :
                                               name rating
56447                               Begums Khansama    5.0
50302                                           Teo    5.0
12838   JUST CREAMERY - Artisanal Healthy Ice Cream    5.0
129331                                HRX by Eatfit    5.0
105876                          Street Food Karvaan    5.0

Bottom 5 Restaurants with Minimum Ratings :
                    name rating
0         AB FOODS POINT     --
86257        Mad Burgers     --
86256        Burgerrring     --
86255  THE Ambience cafe     --
86254    the pizza house     --

6. Name of top 5 cities with the highest number of restaurants listed.

In [39]:
import pandas as pd

csv_file_path = '/content/swiggy.csv'
df = pd.read_csv(csv_file_path)

df_filtered = df[df['name'].notnull()]

if df_filtered.empty:
    print("No valid records in the filtered DataFrame.")
else:
    city_counts = df_filtered.groupby('city')['id'].nunique()

    if city_counts.empty:
        print("No valid city counts available.")
    else:
        max_city = city_counts.nlargest(5)
        print(max_city)

city
Bikaner              1666
Noida-1              1427
Indirapuram,Delhi    1279
BTM,Bangalore        1161
Rohini,Delhi         1135
Name: id, dtype: int64

7. Top 10 cities as per the number of restaurants listed?

In [15]:
for city in df['city'].value_counts().sort_values(ascending=False).head(10).index:
    print(city)

Bikaner
Noida-1
Indirapuram,Delhi
BTM,Bangalore
Rohini,Delhi
Kothrud,Pune
Indiranagar,Bangalore
Electronic City,Bangalore
Greater Kailash 2,Delhi
Vashi,Mumbai

8. Name the top 5 Most Popular Restaurants in Pune.

In [69]:
import pandas as pd

csv_file_path = '/content/swiggy.csv'
df = pd.read_csv(csv_file_path)

pune_df = df[df['city'].str.contains('Pune', case=False)]
popularity_column = 'rating_count'
top_popular_pune = pune_df.sort_values(by=popularity_column, ascending=True)

print("Top 5 Most Popular Restaurants in Pune:")
print(top_popular_pune[['name', popularity_column]].head())

Top 5 Most Popular Restaurants in Pune:
                                      name  rating_count
126933  Mandarin Oak- The Heavenly Chinese  100+ ratings
130893                   Shawarma Junction  100+ ratings
123782                        Samosa Singh  100+ ratings
130905                        China Dragon  100+ ratings
130907                           Anna Vada  100+ ratings

9. Which SubRegion in Delhi is having the least expensive restaurant in terms of cost?

In [74]:
import pandas as pd

csv_file_path = '/content/swiggy.csv'
df = pd.read_csv(csv_file_path)

delhi_df = df[df['city'].str.contains('Delhi', case=False)]
city_counts = delhi_df['city'].value_counts()
min_cost_subregion = city_counts.idxmin()

print(f"Subregion in Delhi with the least expensive restaurant : {min_cost_subregion}")

Subregion in Delhi with the least expensive restaurant : BBK_Chattarpur,Delhi

10. Top 5 most popular restaurant chains in India?

In [16]:
df = pd.read_csv('/content/swiggy.csv')

# Considering, the restaurant with large no. of branches is more popular
for name in df['name'].value_counts().sort_values(ascending=False).head(5).index:
    print(name)

Domino's Pizza
Pizza Hut
KFC
Kwality Walls Frozen Dessert and Ice Cream Shop
Baskin Robbins

11. Which restaurant in Pune has the most number of people visiting?

In [85]:
import pandas as pd

csv_file_path = '/content/swiggy.csv'
df = pd.read_csv(csv_file_path)

pune_df = df[df['city'].str.contains('Pune', case=False)].copy()

pune_df['rating'] = pd.to_numeric(pune_df['rating'], errors='coerce')
pune_df['rating_count'] = pd.to_numeric(pune_df['rating_count'], errors='coerce')

#popularity score = rating x rating count
pune_df['popularity_score'] = pune_df['rating'] * pune_df['rating_count']
most_popular_pune = pune_df.sort_values(by='popularity_score', ascending=False)
print("Most Popular Restaurant in Pune:")
print(most_popular_pune[['name', 'rating', 'rating_count']].head(1))

Most Popular Restaurant in Pune:
                     name  rating  rating_count
120714  FARM DA DHABA NH8     NaN           NaN

12. Top 10 Restaurants with Maximum Ratings in Banglore

In [86]:
import pandas as pd

csv_file_path = '/content/swiggy.csv'
df = pd.read_csv(csv_file_path)

bangalore_df = df[df['city'].str.contains('Bangalore', case=False)]
top_rated_bangalore = bangalore_df.sort_values(by='rating', ascending=False)

print("Top 10 Restaurants with Maximum Ratings in Bangalore :")
print(top_rated_bangalore[['name', 'rating']].head(10))

Top 10 Restaurants with Maximum Ratings in Bangalore :
                         name rating
13139       THE INDIAN SAMOSA    5.0
12070              Snack Ride    5.0
22491          Tandoori Zaika    5.0
13334           The Lassi Pub    5.0
13171                  Frooze    5.0
12958      Fresh crunch pizza    5.0
13144                Minus 30    5.0
21601         Mamaji PavBhaji    5.0
11091  The Chinese Connection    5.0
16693        ESCOBAR PANINI s    5.0

13. Top 10 Restaurant in Patna w.r.t rating

In [87]:
import pandas as pd

csv_file_path = '/content/swiggy.csv'
df = pd.read_csv(csv_file_path)

patna_df = df[df['city'].str.contains('Patna', case=False)]
top_rated_patna = patna_df.sort_values(by='rating', ascending=False)

print("Top 10 Restaurants with Highest Ratings in Patna :")
print(top_rated_patna[['name', 'rating']].head(10))

Top 10 Restaurants with Highest Ratings in Patna :
                                                   name rating
77907                                        Aruba Cafe    4.9
77908                                       Hunger eats    4.7
119243  Kwality Walls Frozen Dessert and Ice Cream Shop    4.6
119443                                    Slurpy Shakes    4.6
77894                                 Fried Chicken Hub    4.6
77889                                          BigBites    4.6
77965                                     Madhur Sweets    4.5
119431                      Kouzina Kafe The Food Court    4.5
119477                    Cupcake Bliss Cake & Desserts    4.5
102400                                        Sip N Sip    4.5